/*This stylesheet is a private propriety*/
:root {
  --ebb: #f3f0f1;
  --title: "Poppins", "Time New Romance", sans-serif;
  --paragraphe: "Raleway", "Arial", sans-serif;
  --old-rose: #cd8987ff;
  --sun: #f5c45eff;
  --cambridge-blue: #92bfb1ff;
  --marin: #4b4e6dff;
  --jordy-blue: #a4bef3ff;
}

* {
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  color: #252525;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}
.h2{
  font-family: var(--paragraphe);
}
h3 {
  font-size: 30px;
}
p,
a{
  font-family: var(--paragraphe);
  font-size: 18px;
  line-height:22px;
  color: #252525;
  margin: 0;
  text-decoration: none;
}
li {
  font-family: var(--paragraphe);
  font-size: 18px;
  line-height:32px;
  color: #252525;
  margin: 0;
  text-decoration: none;
}
.name{
  font-family: var(--paragraphe);
  font-weight: 300;
}
label {
  font-family: var(--paragraphe);
  font-size: 14px;
}

/*HEADER NAV*/

.nav-bar {
  position: fixed;
  background-color: var(--marin);
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;
  z-index: 9999;
}
.toggle {
  right: 0;
}
.toggle-menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  gap: 10px;
  width: 3rem;
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.toggle .toggle-menu {
  gap: 0;
}
.line {
  width: 60%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--marin);
  transition: 0.2s ease-out;
}
.toggle .line1 {
  height: 1;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.nav-list {
  list-style: none;
}
.nav-list-item {
  text-align: center;
  padding: 1rem 0;
}
.nav-link {
  color: #fff;
  font-size: 2.2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.4rem;
}
.nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--ebb);
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
  transform-origin: left;
}
.nav-link:hover::before {
  transform: scaleX(1);
}

/*MAIN*/
main.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background: var(--sun);
  height: 50vh;
}

  .main-txt {
   margin: 70px auto !important;
  }

.main .btn {
  border: none;
  font-size: 1.3rem;
  background: none;
  position: relative;
  cursor: pointer;
}
.arg {
  flex-direction: column;
  gap: 10px;
  display: flex;
  text-align: left;
  max-width: 992px;
  margin: 50px auto;
  padding: 0 40px;
}

.btn:after, .box-project .btn:after  {
  transform: scaleX(1);
  transform-origin: left center;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover:after, .box-project:hover .btn:after {
  transform: scaleX(1);
  transform-origin: left center;
}

/*BLOCK PROJECT*/
.realisations{
  margin-top: 80px;
  padding: 10px;
}
.box-project{
    margin: 10px auto;
    width: 992px;
    cursor: pointer;
    border-radius: 10px;
    height: 300px;
    display: flex;
    -webkit-transition:-webkit-transform 450ms ease;
    transition: -webkit-transform 450ms ease;
    transition: transform 450ms ease;
    transition: transform 450ms ease, -webkit-transform 450ms ease;
}

.box-project:hover{
  transform: scale(1.01)
}
#box-project-1{
  background-color: var(--jordy-blue);
}
#box-project-2{
  background-color:var(--old-rose);
}
#box-project-3{
  background-color: var(--cambridge-blue);
}

.img-project{
  background-color: #f3f0f1;
  height: 100%;
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.block-project {
  display: flex;
  align-items: baseline;
  gap: 20px;
  padding: 0 20px;
  max-width: 1200px;
  position: relative;
  top: -80px;
  margin: auto;
  background-color: white;
  justify-content: space-between;
  width: 80%;
}
@media (max-width: 730px) {
  .box-project {
    flex-direction: column;
    width: 90%;
    height: 440px;
    margin-bottom: 30px;
  }
  
  .img-project{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
  }
}
.item-project {
  padding: 20px 0 50px;
  width: auto;
  display: flex;
  margin: auto auto auto 25px;
  gap: 10px;
  flex-direction: column;
}
.title-project {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.item-project h2 {
  position: relative;
}
.arrow {
  visibility: hidden;
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 16px;
  margin-left: 15px;
  transition: all ease-in 0.4s;
}
.box-project:hover .arrow {
  opacity: 1 !important;
  transform: matrix(1, 0, 0, 1, 10, 0);
  visibility: inherit !important;
}
.item-project p {
  font-size: 14px;
  font-family: var(--paragraphe);
}

/*RESUME*/

.btn-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.btn-underline span {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.btn-underline span:after,
.btn-underline span:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background: currentColor;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn-underline span:before {
  transform: scaleX(1);
  transform-origin: left center;
  transition-delay: 0.1s;
}

.btn-underline span:after,
.btn-underline:hover span:before {
  transform: scaleX(0);
  transform-origin: right center;
  transition-delay: 0s;
}

.btn-underline:hover span:after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-delay: 0.1s;
}

/*FOOTER*/
footer {
    color: var(--marin);
    text-align: center;
    width: 100%;
    height: 230px;
    margin: 100px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}




